<h1>Create a new landmark</h1>

<form action="/landmarks" method="post">
  <input id="landmark_name" type="text" name="landmark[name]" placeholder="Name">
  <br><br>

  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" placeholder="Year Completed">

  <br><br>
  <input id="Create New Landmark" type="submit">
</form>
